html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(71, 12, 129);
}

a,
a:hover {
  text-decoration: none;
}

a,
h2,
h3,
h4,
p {
  color: white;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  margin: auto;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oxygen Mono', monospace;
  letter-spacing: .1em;
}

#nav, #projects, #about, #accomplishments {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.background-slides {
  position: absolute;
  left: 0;
  width: 100%;
  height: 500px;
}

.purple {
  top: 0;
  background-color: rgb(139, 23, 255);
}

.blue {
  top: 500px;
  background-color: rgb(98, 16, 180);
}

/* navigation */

#nav a {
  z-index: 5;
}

.brand {
  z-index: 6;
}

.brand p {
  position: absolute;
  font-family: 'Oxygen Mono', monospace;
  font-size: .8em;
  top: 0px;
  left: 85px;
}

.brand img {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 5px;
}

div.menu {
  display: flex;
  margin: 10px;
  z-index: 4;
}

div.menu img {
  width: 24px;
  height: 24px;
}

#nav-compact {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: 0;
  padding-left: 0;
  left: 0;
  top: 40px;
  background-color: rgb(98, 16, 180);
  z-index: 3;
}

#nav-compact li {
  padding: 15px;
}

#nav-compact li img {
  width: 32px;
  height: 32px;
}

#nav-compact li a img {
  width: 20px;
  height: 20px;
}

#nav-compact li {
  font-family: 'Oxygen Mono', monospace;
  font-size: .8em;
  color: rgb(82, 82, 82);
}

#nav-compact a:hover {
  color: rgb(245, 139, 255);
}

/* Projects */
#projects {
  justify-content: center;
  margin-top: 60px;
}

.project-tile {
  width: 75%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  background-color: rgb(232, 219, 233);
}

.project-tile h2,
.project-tile p {
  color: grey;
  margin: 0 0 7px 0;
}

.project-tile:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, .7);
}

.project-tile img {
  width: 100px;
  height: 100px;
}

/* Accomplishments */
#accomplishments {
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.accomplishments-tile {
  width: 75%;
  height: 140px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  background-color: rgb(232, 219, 233);
}

.accomplishments-tile:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, .7);
}

.accomplishments-tile h4, 
.accomplishments-tile p,
.accomplishments-tile img {
  color: grey;
  margin: 0 0 2px 0;
}

.accomplishments-tile img {
  width: 32px;
  height: auto; 
}

/* About */
#about {
  justify-content: center;
}

#about-text {
  width: 70%;
}

.about-tile {
  width: 75%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

.about-tile h2, 
.about-tile p {
  margin: 0 0 3px 0;
}

.about-tile p {
  color: white;
  margin-top: 10px;
}

.about-tile img {
  width: 50%;
  height: auto;
}


/* Large Screens */
@media (min-width: 899px) {
  .wrapper {
    max-width: 899px;
  }

  #projects {
    justify-content: center;
  }

  #about-text {
    width: 60%;
  } 

  .about-tile {
    width: 20%;
  }
  
  .about-tile img {
    width: 100%;
  }
}

/* Medium Screens */
@media (min-width: 788px) {
  .accomplishments-tile {
    width: 200px;
  }
}

@media(min-width: 718px) {
  .accomplishments-tile {
    width: 25%;
    height: 125px;
  }
}

/* Medium Screens Plus */
@media (min-width: 604px) {
  .project-tile {
    width: 250px;
    height: 280px;
  }

  .about-tile {
    height: 280px;
  }

  div.menu {
    display: none;
  }

  #nav-compact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 160px;
    left: 0;
    top: 0;
  }

  #nav-compact li {
    padding-left: 10px;
  }

  .brand p {
    position: absolute;
    font-family: 'Oxygen Mono', monospace;
    font-size: .8em;
    top: 5px;
    left: 50px;
  }
  
  .brand img {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 10px;
    top: 10px;
  }

}