#headerImg {
  background: url('../img/header.jpg') no-repeat;
  padding: 250px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding: 100px;
}

/*  Feature Projects CSS */

/* Offset Colors between panels */
.offsetColor {
  background: rgba(224, 224, 224, 0.7);
}

.offsetLinkA, .offsetLinkB:hover {
  background: rgba(53, 53, 53, 0.1); 
} 

.offsetLinkB, .offsetLinkA:hover {
  background: rgba(53, 53, 53, 0.2);  
}

