html,
body {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: auto;
}

.title {
  width: 100%;
  text-align: center;
}

#nav, #header, #projects, #about, #accomplishments {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

/* navigation */
#nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(53, 53, 53);
  z-index: 2;
}

#nav-compact a {
  margin: 10px;
  color: gray;
}

#nav a.menu {
  margin: 10px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}

#nav img {
  width: 24px;
  height: 24px;
}

#nav-compact {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 50px;
  background-color: rgb(53, 53, 53);
  z-index: 3;
}

/* header */
#header {
  padding: 100px;
  background: url('../img/header.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header h2 {
  text-align: center
}

/* Projects */
#projects {
  justify-content: center;
}

#projects a {
  color: gray;
}

#projects a:hover {
  color: rgb(105, 105, 105);
}

.project-tile {
  width: 75%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.project-bg {
  width: 250px;
  height: 250px;
  background-color: rgb(245, 229, 248);
}

.project-tile h2, p {
  margin: 0 0 7px 0;
}

.project-tile:hover {
  background-color: rgb(248, 232, 248);
}

.project-tile img {
  width: 100px;
  height: 100px;
}

/* Accomplishments */
#accomplishments {
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.accomplishments-tile {
  width: 90%;
  height: 100px;
  padding: 40px 15px 15px 15px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.accomplishments-tile h4, p {
  margin: 0 0 3px 0;
}

/* About */
#about {
  justify-content: center;
}

#about-text {
  width: 70%;
}

.about-tile {
  width: 20%;
  height: auto;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.about-tile h2, p {
  margin: 0 0 3px 0;
}

.about-tile p {
  margin-top: 10px;
}

.about-tile img {
  width: 100%;
  height: 100%;
}

/* Large Screens */
@media (min-width: 855px) {
  .wrapper {
    max-width: 855px;
  }

  #projects {
    justify-content: space-evenly;
  }

  #about-text {
    width: 70%;
  } 

  .about-tile {
    width: 20%;
  }
}

/* Medium Screens */
@media (min-width: 788px) {
  .accomplishments-tile {
    width: 200px;
  }
}

/* Medium Screens Plus */
@media (min-width: 571px) {
  .accomplishments-tile {
    width: 20%;
  }

  .project-tile {
    width: 250px;
    height: 250px;
  }

  .notFEND {
    width: 250px;
    height: 250px;
  }

  #nav-compact {
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
  }
}