// Used for generic styles for the site
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@use '../img/stars.png';

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: "Baloo 2", cursive;
  letter-spacing: 1.1px;
  background-image: url('../img/stars.png');
  background-repeat: repeat;
  z-index: -2;
}

#root {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

a,
Link {
  text-decoration: none;
}

.link-emphasis {
  color: $accent-color;
}

/*
////////////////////
////////////////////
////////////////////
/////// ABOUT PAGE
////////////////////
////////////////////
////////////////////
*/

#about-container,
#main-container {
  display: flex;
  margin: 0;
  padding: 20px;
  color: $font-color;
  flex-direction: column;
  justify-content: space-between;
}

.about-summary {
  color: $font-color;
  padding: 10px 20px;
  border-radius: 7px;

  p {
    margin: 10px 0 0 0;
  }
}

/*
////////////////////
////////////////////
////////////////////
/////// TIMELINE PAGE
////////////////////
////////////////////
////////////////////
*/

.timeline-image {
  position: relative;
  width: 100%;

  @media #{$tiny} {
    width: 100%;
  }

  @media #{$tablet} {
    width: 49.6%;
  }

  @media #{$desktop} {
    width: 49.6%;
  }

  

  img {
    width: 100%;
  }
}

.timeline-image:target {
  width: 100%;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
}

.timeline-caption {
  position: absolute;
  z-index: 99;
  width: 50px;
  bottom: 25px;
  right: -3px;
  background-color: $panel-color;
  color: $font-color;
  padding: 7px;
  border-radius: 7px 0 0 7px;
}
