// Used for generic styles for the site
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $inBio_Background;
  font-family: "Baloo 2", cursive;
  letter-spacing: 1.1px;
}

.container {
  width: 90%;
  overflow: hidden;
  max-width: 980px;
  margin: auto;
}

.footer {
  color: $inBio_Text;
  margin: 10px 0;
  text-align: center;
}

a,
Link {
  text-decoration: none;
}

#section-title {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/*
////////////////////
////////////////////
////////////////////
/////// ABOUT PAGE
////////////////////
////////////////////
////////////////////
*/

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$desktop} {
    height: 400px;
    flex-direction: row;
  }
}

#about-avatar {
  display: flex;
  height: 200px;

  @media #{$tablet} {
    height: 300px;
  }

  @media #{$desktop} {
    left: 0px;
    width: 25%;
    height: 100%;
  }
}

.about-summary {
  color: $inBio_Text;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;

  p {
    margin: 10px 0 0 0;
  }

  @media #{$desktop} {
    margin-top: 0;
    width: 67%;
  }
}

/*
////////////////////
////////////////////
////////////////////
/////// TIMELINE PAGE
////////////////////
////////////////////
////////////////////
*/

#timeline-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  text-align: center;
  height: 50px;
  border: 2px solid $accent-color;
  border-radius: 7px;
  background-color: $inBio-Background;

  .inBio-Title {
    margin: 0 20px;
  }
}

#timeline-panel:hover {
  background-color: $inBio-Panel;
  color: $inBio-Text;
}

.timeline-image {
  position: relative;
  width: 49.6%;

  @media #{$tiny} {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.timeline-image:target {
  width: 100%;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
}

.timeline-caption {
  position: absolute;
  z-index: 99;
  width: 50px;
  bottom: 25px;
  right: -3px;
  background-color: $inBio-Background;
  color: $inBio-Text;
  padding: 7px;
  border-radius: 7px 0 0 7px;
}