body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  background: none;
}

.container {
  color: black;
}

.navigation,
.resumeswitcher,
.footer {
  display: none;
}

.print_only {
  display: inline;
}

.resumeemphasis,
h3 {
  color: rgb(146, 21, 230);
  margin: 7px 0 0 0;
}

h4,
.education_flex ul h4,
.education_flex h4,
.resumeachievement h4 {
  margin: 10px 0 0 0;
}

.resume_title a,
a {
  color: rgb(146, 21, 230);
}




  .resumecontainer {
    width: 74%;
  }

  .resumesidebar {
    order: 2;
    width: 23%;
    height: auto;
  }

  .resumeachievements {
    display: none;
  }

  .resumeachievementsfull {
    display: flex;
  }

  .resumeskills_list li {
    display: list-item;
  }

  .resume {
    flex-direction: row;
  }
