@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: #20113c;
  /* BACKGROUND THEME */
  background-image: url("./bg.png");
  background-repeat: repeat;
  background-size: auto;
  color: white;
}

.contact,
.contact:hover,
.contact:focus {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
}

.signature img {
  width: 9em;
  height: 5em;
}

.signature {
  align-self: center;
}

.noscriptabout {
  width: 100%;
  padding-top: 25px;
  margin: auto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.noscriptcover {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.noscript_text,
.noscript_contact {
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  justify-content: center;
}
.noscript_contact{
  line-height: 45px;
}
.contact:hover {
  opacity: 50%;
}