.resume {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: #{$bp-md};
  padding: 1em;
  font-size: 1em;
  margin: auto;
  color: #{$fontTheme};

  a {
    font-weight: 700;
    color: #{$mainTheme};
    text-decoration: none;
  }

  ul {
    margin: 0 0 10px 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding-bottom: .5em;
  }
}

.noBulletPoint {
  list-style-type: none;
}

.resumeContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 95%;
  padding-right: 2em;

  @media #{$mq-sm} {
    flex-direction: row;
  }

}

.resumeTitles {
  font-size: 1.5em;
  font-weight: 700;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  color: #{$mainTheme}
}

.resumeSubtitles {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.singlelineTitle {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: #{$mainTheme};
}

.resumeText {
  font-size: 1em;
}

.resumeHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

  @media #{$mq-sm} {
    flex-direction: row;
  }

  .resumeSelf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 20px;
    text-transform: uppercase;
  }

  .resumeSelfName {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;

  }

  .resumeSelfTitle {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
  }

  .resumeSelfTitleColor {
    color: #{$mainTheme};
  }

  .resumeSelfSubHeader {
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin-top: 20px;

    @media #{$mq-sm} {
      width: 50%;
      text-align: left;
    }
  }
}

.resumeExpPosition {
  text-transform: uppercase;
}

.resumeEducationFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resumeSchools {
  width: 40%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.resumeSmallerSubtitles {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

// Resume Left Sidebar

.resumeLeftSidebar {
  width: 100%;

  @media #{$mq-sm} {
    width: 65%;
  }
}




// Resume Right Sidebar

.resumeRightSidebar {
  width: 30%;
  display: none;
  flex-wrap: nowrap;

  @media #{$mq-sm} {
    display: flex;
    flex-direction: column;
  }
}

.resumeProjects,
.resumeExp,
.resumefeatleft,
.resumefeatright {
  li {
    margin-left: 1.2em;
    padding-bottom: .5em;
  }
}

@import './components/smSection';
