
.column {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px 10px;
  width: 45%;
  max-width: 460px;
  max-height: 345px;
  border-radius: 20px;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; 
  text-align: left;
  z-index: 999;
  margin: 5px 0 0 10px;

  text-transform: uppercase;
  text-decoration: none;
  // Placeholder
  color: grey;
}

 // Code
 #code01,
 #code02,
 #code03,
 #code04 {
  order: 1;
 }

 // Design
 #design01,
 #design02,
 #design03 {
  order: 2;
}
 // Art
 #art01,
 #art02,
 #art03,
 #art04 {
  order: 3;
  align-self: center;
  width: 100%;
  max-width: none;
  height: auto;
  max-height: none;
  border-radius: 0;
 }

// Design
#design01 {
  justify-content: center;
  width: 90%;
  max-width: none;
  max-height: none;
  height: auto;
}

#design02,
#design03 {
  width: 45%;
  max-height: 250px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 90%;
  }

  // Code
  #code01,
  #code02,
  #code03,
  #code04 {
    order: 1;
    width: 90%;
    max-height: auto;
  }

  // Design
  #design01,
  #design02,
  #design03 {
  order: 2;
  width: 90%;
  max-height: auto;
  }


}
@media screen and (min-width: 768px) {
  // Code
  #code01,
  #code02,
  #code03,
  #code04 {
    width: 40%;
  }

}
