.about-container {
  width: 45%;
  margin: 1%;
  display: flex;
  align-items: center;

  @media #{$portrait} {
    width: 100%;
  }
}

.about-subheader {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 24px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  color: $accent-color;
  margin-bottom: 5px;
}

.about-subheader-block {
  display: flex;
  align-content: center;
  position: relative;
}

.about-job {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  padding: 6px 0;
  height: 24px;
  color: $font-color;
  overflow: hidden;
  position: relative;

.about-job-scroll {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(-38px);
    -webkit-animation: job-scroll 5s infinite ease-in;
    -moz-animation: job-scroll 5s infinite ease-in;
    -o-animation: job-scroll 5s infinite ease-in;
    animation: job-scroll 5s infinite ease-in;
  }
}

.aka-shift {
  transform: translateX(0px);
  -webkit-animation: aka-scroll 5s infinite ease;
  -moz-animation: aka-scroll 5s infinite ease;
  -o-animation: aka-scroll 5s infinite ease;
  animation: aka-scroll 5s infinite ease;
}


// Animations

@-webkit-keyframes job-scroll {
  0%, 30% {transform: translateY(40px);}
  50%, 80% {transform: translateY(1px);}
  100% {transform: translateY(-38px);}
}

@-moz-keyframes job-scroll {
  0%, 30% {transform: translateY(40px);}
  50%, 80% {transform: translateY(1px);}
  100% {transform: translateY(-38px);}
}

@-o-keyframes job-scroll {
  0%, 30% {transform: translateY(40px);}
  50%, 80% {transform: translateY(1px);}
  100% {transform: translateY(-38px);}
}

@keyframes job-scroll {
  0%, 30% {transform: translateY(40px);}
  50%, 80% {transform: translateY(1px);}
  100% {transform: translateY(-38px);}
}

@-webkit-keyframes aka-scroll {
  0%, 40%, 100% {transform: translateX(0px);}
  60%, 80% {transform: translateX(-97px);}
}

@-moz-keyframes aka-scroll {
  0%, 40%, 100% {transform: translateX(0px);}
  60%, 80% {transform: translateX(-97px);}
}

@-o-keyframes aka-scroll {
  0%, 40%, 100% {transform: translateX(0px);}
  60%, 80% {transform: translateX(-97px);}
}

@keyframes aka-scroll {
  0%, 40%, 100% {transform: translateX(0px);}
  60%, 80% {transform: translateX(-97px);}
}