.about {
  width: 100%;
  margin: auto;
  max-width: 768px;
  // Flex
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  width: 90%;
  height: 400px;
  align-self: center;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.info {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
  color: grey;
}

.abouttitle {
  font-weight: 700;
  padding-top: 10px;
  font-size: 1.1em
}

.bio,
.skills {
  align-self: flex-start;
  width: 100%;
  padding: 10px;
}

.skills {
  order: -1;
  text-align: right;
}

.feats {
  font-size: 1em;
  text-transform: none;
}

.social {
  margin: 10px 10px 0 0;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  .about {
    width: 90%;
  }

  .cover {
    width: 100%;
    height: auto;
  }

  .info {
    flex-direction: column;
    width: 90%;
  }

  .bio,
  .skills {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    padding: 0;
}


}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1200px) {

}