
.animeListTitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    color: $inBio-Text;
    text-align: center;
  }
  
  .animeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: $inBio-Text;

    a {
      color: $accent-color;
      font-weight: 500;
      text-decoration: underline;
    }
  }
  
  .animeTitle {
    margin: 10px 0 10px 0;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .animeBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    border: 2px solid $accent-color;
    border-radius: 7px;
  }
  
  .animeText {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 10px;
    height: 40px;
    width: 40%;
    overflow: hidden;

    @media #{$desktop} {
            width: 30%;
      }

      @media #{$tiny} {
            height: auto;
            width: 100%;
      }
  }