.basicTitle {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.basicTitleCase {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.basicImageCase {
    display: flex;

  @media #{$mq-md} {
    display: none;
  }
}

.basicDesc {
  font-size: 1.1em;
}

.basiclink {
  font-size: .9em;
  font-weight: 700;
  text-decoration: none;
  padding-left: 1em;
  color: #{$fontTheme};
}

.basiclink:hover {
  color: #{$mainTheme};
  text-decoration: underline;
}

.basicImageSm,
.basicImageMd,
.basicImageLg {
  padding: .5em;
  width: 95%;
}


.basicContainer {
    width: 100%;
    color: #{$fontTheme};

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media #{$mq-md} {
      flex-direction: row;
      align-items: flex-start;
    }
}

.basicTextContainer,
.basicTextFixed {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  @media #{$mq-md} {
    width: 40%;
    padding-right: 1em;
    max-width: 550px;
  }
}

.basicTextFixed {
  margin-top: 0;
  position: relative;

  @media #{$mq-md} {
    margin-top: 10em;
    position: fixed;
  }
}

.insideTextBox {
  width: 100%;
}

.basicImageContainer {
  width: 90%;

  // Flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  @media #{$mq-md} {
    width: 55%;
    max-width: 600px;

  }
}

.video-container {
  padding: 5px; 

  video {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.spacer {
  width: 100%;
  height: 100%;
}

.videocontainervimeo {
  position: relative;
  padding: 56.25% 0 0 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.basicImageColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}