.contactForm {
  display: flex;
  width: 90%;
  max-width: 768px;
  flex-direction: column;
  align-content: center;
  margin-top: 25px;
}

.contactFormTitle {
  font-size: 1.5em;
  font-weight: 700;
}

.contactFormThanks {
  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 50px;
}

.contactInfo {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.contactName,
.contactEmail {
  width: 48%;
}

.contactMessage {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

.underthebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contactchar {
  width: 40%;
  font-size: .8em;
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

.contactcharleft {
  width: 50%;
  font-size: 1em;
  font-weight: 700;
  color: #{$mainTheme};
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
}

.contactSubmit {
  font-size: 1em;
  border: none;
  width: 100%;
  height: 45px;

  @media #{$mq-sm} {
    width: 40%;
  }
}