.header-title {
    font-family: 'Fredoka One', cursive;
    color: $font-white;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    width: 350px;

    @media #{$desktop} {
      margin: 0 0 0 20px;
      text-align: left;
    }
  }
  
  .header-email {
    font-size: 1.3em;
    color:$font-color;
    margin: 0;
    text-align: center;
  
    @media #{$tiny} {
      font-size: 1em;
    }
}

/*
////////////////////
////////////////////
/////// FOOTER PAGE
////////////////////
////////////////////
*/

.footer-nav {
    text-align: center;
    color: $font-white;
  
    a {
      color: $font-white;
      margin: 10px;
    }
  
    a:hover {
      border-bottom: 3px solid $accent-color;
    }
}

/*
////////////////////
////////////////////
/////// NAVIGATION PAGE
////////////////////
////////////////////
*/
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;

  @media #{$desktop} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navRow {
  display: flex;
  width: 90%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;

  @media #{$desktop} {
    justify-content: flex-end;
    margin: 0 20px 0 0;
  }
}

.navButtons {
  align-self: center;
  height: 25px;
  width: 43%;
  padding: 0;
  margin: 10px;
  color: $font-white;
  font-size: 1em;
  text-align: center;
  border-bottom: 3px solid rgba(0,0,0,0);

  @media #{$tablet} {
    width: auto;
    margin: 5px 10px;

  }

  @media #{$desktop} {
    width: auto;
    margin: 5px 10px;

  }
}

.navButtons:hover,
#white:hover {
  border-bottom: 3px solid $accent-color;
}

#selectedButton {
  border-bottom: 3px solid $accent-color;
}

#selectedButtonList {
  color: $font-white;
  background-color: $background-color;
  border: 3px solid $background-color;
}