/* LINK IN BIO PAGE */

.planets {
  position: absolute;
  z-index: 99;

  @media #{$tiny} {
    display: none;
  }
}

#planet01 {
  bottom: -5%;
  right: 100px;
  width: 200px;
  height: 200px;
  z-index: -1;
  
  @media #{$tablet} {
    display: none;
  }
}

#planet02 {
  top: -120px;
  right: 50px;
  width: 150px;
  height: 150px;
  z-index: -1;

  @media #{$desktop} {
    z-index: 1;
  }
}

#planet03 {
  bottom: -100px;
  left: -100px;
  width: 250px;
  height: 250px;
  z-index: -1;

  @media #{$desktop} {
    z-index: 1;
  }
}

.linkinbio-container {
  display: flex;
  position: relative;
  margin: 100px 0 20px 0;
  padding: 65px 20px 20px 20px;
  flex-direction: column;
  background-color: $panel-color;
  border-radius: 15px;
}

.linkinbio-avatar {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 150px;
  top: -90px;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  border-radius: 50%;

  img {
    position: absolute;
    left: 0px;
    width: 120%;
    height: auto;
  }
}

.linkinbio-name {
  font-size: 2.3em;
  font-family: 'Fredoka One', cursive;
  color:$font-color;
  margin: 0;
}

#linkinbio-email {
  font-size: 1.3em;
  color:$font-color;
  margin: 0;

  @media #{$tiny} {
    font-size: 1em;
  }
}

.linkinbio-socials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  margin: 0 0 10px 0;
  width: 100%;
}

.linkinbio-socials {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 10px;

  img {
    width: 100%;
  }
}

.linkinbio-socials:hover {
  transform: scale(.9); 
}

.linkinbio-button {
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.1em;
  margin: 10px auto;
  width: 100%;
  border: 0 solid $accent-color;
  border-radius: 15px;
  background-color: $background-color;
  height: 60px;
  max-height: 100px;
}

.linkinbio-button:hover {
  opacity: .9;
  transform: scale(.9);
}

#linkinbio-demo {
  margin: 10px 0 0 0;
  width: 100%;
}

.audioVO {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  
  audio {
    width: 100%;
    color: $background-color;
  }
}


.linkinbio-ar-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
  justify-content: space-between;
  align-self: center;
}

#linkinbio-ar-links {
    width: 100%;
    margin: 0;

  @media #{$tablet} {
    align-items: center;
    width: 49%;
  }

  @media #{$desktop} {
    width: 49%;
  }
}

#linkinbio-ar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hide {
  display: none;
}

#show {
  display: block;
}

#goBack {
  display: flex;
  position: absolute;
  left: -20px;
  top: -20px;
  width: 70px;
  height: 10px;
  align-items: center;
}


.timelineBox {
  width: 95%;
  margin: auto;
}

.linkinbio-title {
  font-size: 1.1em;
  font-weight: 400;
  color:$font-white;
  text-align: center;
}

.linkinbio-link {
  width: 100%;
}

.align-center {
  text-align:center;
}

.about-container {
  width: 80%;
  margin: auto;
}