.inBio-Avatar {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 7px;

  @media #{$tiny} {
    height: 100px;
  }

  @media #{$desktop} {
    display: none;
  }

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;

    @media #{$desktop} {
      left: -250px;
      width: auto;
      height: 140%;
    }
  }
}

.linkinbio-avatar {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 150px;
  margin: auto;
  height: 150px;
  border-radius: 50%;

  img {
    position: absolute;
    left: -120px;
    width: 240%;
    height: auto;
  }
}

// Panels

.inBio-Panels {
    width: 100%;
}

.linkinbio-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.linkinbio-button {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: 2px solid $accent-color;
  border-radius: 7px;
  height: auto;
  max-height: 100px;
}

.linkinbio-button:hover {
  opacity: .9;
  transform: scale(.9);
}

.linkinbio-title {
  font-size: 1.3em;
  color:$font-white;
  text-align: center;
}

.linkinbio-link {
  width: 100%;
}

.align-center {
  text-align:center;
}

#video {
  background-color: none;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  border-radius: 10px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.two-column-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.voice-demo {
  margin: 10px 0 50px 0;
}

.project-thumbnails {
  margin: 10px 0 10px 0;

  @media #{$tiny} {
    margin: 10px 0 0 0;
  }
}

.inBio-Panel {
  position: relative;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.inBio-Panel:hover {
  transform: scale(.99);
}

.two-column {
  width: 20%;

  @media #{$tiny} {
    width: 45%;
  }

  .inBio-Title {
    @media #{$tiny} {
      margin: 0;
    }
  }
}

#Panel-Links {
  height: 70px;

  .inBio-Title {
    margin: 10px 0 0 15px;
  }

  .inBio-Subtitle {
    margin: 0 0 0 15px;
  }
}

.inBio-Thumbnail {
    position: relative;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.inBio-Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 100px;
}

.inBio-Title {
  color: $inBio_Text;
  font-size: 1em;
  margin: 10px 0 0 0;

  @media #{$tiny} {
    font-size: .7em;
  }
}

#voice-demo-dwn {
  position: relative;
  z-index: 99;
  bottom: -10px;
  font-size: 1em;
}

#voice-demo-dwn:hover {
  transform: scale(1.01);
 opacity: .5;
}

.inBio-Subtitle {
  font-size: 1em;
  color: $inBio_Text;
  opacity: .3;
}

#video {
  img {
    width: 100%;
  }
}