/* LINK IN BIO PAGE */

.voice-over-container {
  margin: 0 0 20px 0;
}

.voice-over-container-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:  0;
  padding: 10px 10px 0 10px;

  @media #{$desktop} {
    margin: 0 0 20px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}


.linkinbio-container {
  display: flex;
  position: relative;
  margin: 10px;
  padding: 20px;
  flex-direction: column;
  background-color: $panel-color;
  border-radius: 10px;

}

.linkinbio-avatar {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 150px;
  top: -90px;
  left: 0;
  right: 0;
  margin: auto;
  height: 150px;
  border-radius: 50%;
}

#linkinbio-avatar-bg {
  background-color: $accent-color;
  z-index: -1;
  transform: scale(1.05);
}

#video-thumbnail-demo {
  display: none;
  padding: 0;
}

#video-demo {
  display: flex;
  padding: 0;
}

.linkinbio-name,
.linkinbio-subtitle,
.linkinbio-margin,
.linkinbio-contact {
  font-family: 'Fredoka One', cursive;
  color: $font-color;
}


.linkinbio-contact {
  font-size: .9em;
text-align: center;

@media #{$desktop} {
  font-size: 1.2em;

}
}


.linkinbio-name {
  font-size: 2em;
  text-align: center;
}

.linkinbio-subtitle {
  font-size: 1.3em;
  margin: 10px 0 0 0;
}

#linkinbio-demo {
  margin: 10px 0 0 0;
  width: 100%;
}

.audioVO {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  
  audio {
    width: 100%;
    color: $background-color;
  }
}

.home-studio-columns {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 align-items: center;

 @media #{$desktop} {
   flex-direction: row;
 }
}

.home-studio-column,
.home-studio-column-right {
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 .home-studio-column-right {
  align-items: flex-start;

  @media #{$desktop} {
    align-items: flex-end;
  }
 }

.training {
  display: flex;
  margin: 0;
}

#hide {
  display: none !important;
}

#show {
  display: block !important;
}

.tab {
  display: flex;
  width: 70px;
  height: 50px;
  align-items: center;
  background-color: $panel-color;
  color: $font-color;
}

.timelineBox {
  width: 95%;
  margin: auto;
}

.linkinbio-title {
  font-size: 1.1em;
  font-weight: 400;
  color:$font-white;
  text-align: center;
}

.linkinbio-link {
  width: 100%;
}

.align-center {
  text-align:center;
}


// AR DIV
// AR DIV
// AR DIV
// AR DIV
// AR DIV
// AR DIV
// AR DIV

.ar-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;

  @media #{$desktop} {
    flex-wrap: nowrap;
  }

  a {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 15px;
  }
}

.ar-video {
  width: 100%;
  border-radius: 15px;

  @media #{$desktop} {
    width: 95%;
  }
}

.ar-video:hover {
  transform: scale(.95);
}