// NAVIGATION & Footer

.navigation-bar,
.footer {
    position: relative;
    width: 100%;
    height: 50px;
    max-height: 50px;
    margin-top: 20px;
    color: $font-white;
  }

  .navigation-bar {
    margin-bottom: 20px;

    @media #{$tablet} {
      height: auto;
      max-height: 150px;
    }
  }

  .footer {
    a {
      color: $font-white;
    }
  }
  
  .navigation-container,
  .footer-container {
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    position: relative;
  }

  .navigation-subcontainer,
  .footer-subcontainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  
    @media #{$tablet} {
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
    }
  }
  
  .navigation-signature {
    font-family: 'Baloo 2', cursive;
    color: $accent-color;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media #{$tablet} {
      margin-bottom: 20px;
       }
  }
  
  .navigation-signature:hover {
    text-decoration: none;
    opacity: .7;
  }
  
  .navigation-menu {
    align-self: center;
    display: flex;
    align-content: center;
    align-items: center;
  
    .navlink {
      font-size: 18px;
      padding: 0 10px;
      font-weight: 600;
      text-decoration: none;
    }
  
    .navlink:hover {
      text-decoration: none;
      opacity: .5;
    }
  
    .selected {
      color: $accent-color;
    }
  
    .selected:hover {
      opacity: 1;
    }
  
    .contact-nav {
      width: 150px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-left: 20px;
      border-radius: 10px;
      border-style: solid;
      border-color: $accent-color;
      border-width: 2px;
      padding: 9px 15px;
      letter-spacing: 2px;
      color: $font-white;
      text-decoration: none;

      @media #{$tablet} {
        width: 100%;
        font-size: 24px;
      }
    }
  
    .contact-nav:hover {
      text-decoration: none;
      background-color: $panel-color;
      border-color: $panel-color;
      color: $background-color;
    }
  }


  .socialmedia {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 35px;
  
    @media #{$tablet} {
      width: 100%;
    }
  }
  
  .social-icon {
    width: 35px;
    height: 35px;
    margin: 0 20px;
  
    @media #{$tablet} {
      width: 50px;
      height: 50px;
      margin: 0 40px;
    }
  }
  
  .social-icon:hover {
    opacity: .5;
  }