nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media #{$mq-sm} {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
  }

  .portfolioName {
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    padding: 0 20px;
  }

  img {
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;

    @media #{$mq-sm} {
      display: none;
    }
  }
  
  .menuIcon {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;

    @media #{$mq-sm} {
      display: flex;
      flex-direction: row;
    }
  }

  #show {
    display: flex;
  }

  .navlink {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #{$backgroundTheme};
    padding: 20px 0;
    white-space: nowrap;
    text-align: center;

    @media #{$mq-sm} {
      padding: 0 10px;
    }
  }

  .navlink:hover,
  .navlink:focus,
  .selected {
    color: #{$mainTheme};
    text-decoration: underline;
  }
}