body {
  margin: 0;
  padding: 0;
  background-color: $inBio_Background;
}

.inBio-Container {
  width: 100%;
  overflow: hidden;
}

.inBio-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inBio-Banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;

  img {
    width: 100%;
    min-height: 100%;
  }
}

.inBio-Avatar {
  position: relative;
  overflow: hidden;
  top: -50px;
  margin: 0 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;

  img {
    position: absolute;
    left: -70px;
    height: 140%;
  }
}

.inBio-Information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -50px;
}

.inBio-Name,
.inBio-Bio,
.inBio-Title,
.inBio-Social-Container,
.inBio-Footer {
  color: $inBio_Text;
  margin: 10px 0;
}

.inBio-Name {
  font-weight: 500;
  font-size: 1.5em;
}

.inBio-Location {
  color: $inBio_Text;
  opacity: .3;
}

.inBio-Social-Container {
  display: flex;
  flex-direction: row;
}

.inBio-Social {
  background-color: $inBio_Panel;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

#Social-Contact {
  font-size: 1em;
  color: $inBio_Text;
  width: 100px;
  text-align: center;
  border-radius: 7px;
  text-decoration: none;
}

.inBio-Social:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

// Panels

.inBio-Panels {
    position: relative;
    margin: auto;
    width: 90%;
    top: -50px;
}

#video {
  background-color: none;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  border-radius: 10px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.inBio-Panel {
  background-color: $inBio_Panel;
  width: 100%;
  height: 100px;
  margin: 20px 0;
  border-radius: 7px;
  transform: scale(1);
}

.inBio-Panel:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 12px rgba(0,0,0,.4);
}

.inBio-Thumbnail {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 12px;
    left: 13px;

    img {
        width: 100%;
        height: 100%;
    }
}

.inBio-Info {
    width: 100%;
    padding: 15px 0 0 100px;
}

.inBio-Title {
  font-size: 1.2em;
}

.inBio-Subtitle {
  font-size: 1em;
  color: $inBio_Text;
  opacity: .3;
}

.inBio-Footer {
  text-align: center;
}
