$background-color: #1A185D;
$sub-color: #525af2;
$panel-color: #E7E6FF;
$accent-color: #F6B6FA;
$font-color: #1A191C;
$font-white: #ececec;
$soundcloud: #f5f5f5;


$desktop: "(min-width: 992px)";
$tablet: "(max-width: 767px)";
$portrait: "(max-width: 478px)";

// Colors Mode
$inBio_Panel: #2c2a6d;
$inBio_Text: #FFECDB;
$inBio_Background: #1A185D;
