$background-color: #1A185D;
$sub-color: #525af2;
$accent-color: #f2a0cd;
$font-color: #ececec;
$soundcloud: #f5f5f5;


$desktop: "(min-width: 992px)";
$tablet: "(max-width: 768px)";
$landscape: "(min-width: 479px)";
$portrait: "(max-width: 478px)";